html {
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(36, 36, 54); */
    background-image: linear-gradient(rgb(36, 36, 56), rgb(66, 66, 83));
    margin: 0px;
    padding: 0px;
}

/* .bg{
    margin: 0px;
    padding: 0px;
    background-image: url("bgb.jpg");
    background-size:contain;
} */
/* navbar */

nav {
    display: flex;
    margin-top: 0px;
    /* text-align: right; */
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(0, 0, 0, 0.185);
    height: 100px;
    width: 1fr;
}

.logo {
    color: rgb(0, 255, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 35px;
    letter-spacing: 2px;


}

.na {
    margin-left: 750px;
    width: 600px;
    margin-top: 4px;
}

.intro {
    background-color: rgba(240, 248, 255, 0.052);
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.804);
    transition: 0.5s;
}

.intro:hover {
    background-color: rgba(240, 248, 255, 0.014);
}

.navi {
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-right: 40px;
    transition: 0.5s;
    border: 2px solid transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;


}



.navi:hover {
    color: rgb(0, 255, 251);
    border: 2px, solid, white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 6px;
    /* margin-left: 30px; */
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    margin-right: 40px;
}

/* into and profile pic */

.pera {
    color: rgb(0, 255, 251);
    font-size: 25px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    /* margin-left: 450px; */



}

.profile {
    /* border: 2px solid rgb(0, 255, 251); */
    border-radius: 50%;
    background-size: cover;
    margin-left: 450px;
    margin-top: -75px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    transition: 0.5s;

}

.profile:hover {
    /* border: 2px solid white; */
    box-shadow: 0px 5px 20px rgb(0, 255, 251);
    margin-top: -85px;
    margin-bottom: 20px;

}

.myself {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 40px rgb(0, 251, 255);
    font-size: 50px;
}

.intro {
    display: flex;
    text-align: left;
    margin-top: 200px;
    /* justify-content: center; */
}

.write {
    color: white;
    margin-left: 150px;
}

.oth {
    margin-left: 240px;
}

hr {
    margin-top: 100px;
}

/* skills and etc */

.pro {
    margin-top: 0px;
    padding: 80px;
}

.programs {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 10px rgb(0, 251, 255);
    font-size: 30px;

    border-left: 2px solid rgb(0, 251, 255);
    border-radius: 6px;
    padding-left: 10px;
    transition: 0.3s;
}

.programs:hover {
    color: rgb(0, 251, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding-left: 12px;

}

.box {
    margin-top: 80px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 6px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.171);
}

.p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70px;
}

.h {
    color: rgb(0, 251, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 30px;
    /* border-left:5px solid  rgb(0, 251, 255); */
    border-radius: 6px;
    padding-left: 10px;
    transition: 0.3s;

}

.but {
    background-color: transparent;
    color: rgb(0, 251, 255);
    box-shadow: 0px 0px 10px transparent;
    border: 2px solid rgb(0, 251, 255);
    border-radius: 20px;
    margin-left: 1100px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

.but:hover {
    background-color: rgb(0, 202, 205);
    color: rgb(66, 66, 83);
    box-shadow: 0px 0px 10px rgb(0, 251, 255);
    border: 2px solid rgb(0, 251, 255);
    border-radius: 20px;
    margin-left: 1100px;
    font-size: 25px;
    padding: 10px;
}

.yu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}


/* footer area */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.264);
    margin: 0px;
    padding: 15px;
    gap: 150px;

}

.div1 {
    height: 100px;
    width: 50%;
    color: white;
    padding: 40px;
}

.div2 {
    height: 100px;
    width: 50%;
    margin: 3px;
    color: white;
    padding: 40px;
}

.row {
    color: white;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: aqua;
    text-decoration: none;
}

.top button {
    color: aqua;
    background-color: rgba(0, 0, 0, 0.112);
    border-bottom: 2px solid aqua;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 40px;
    height: 40px;
    width: 200px;
}
